
body {
 background-image: url("../images/doh3mlZ.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
}

.titulo {
	text-align:center;
	color: #ffffff;
	font-size: 50px;
	font-family: verdana;
	padding-top:5px;
}

.titulo:hover {
	font-weight:bold;
	text-decoration:underline;
}
p {
	text-align: center;
	font-weight: bold;
}
	
p.red {
	color: #ff0000;
}

.list {
  list-style: none;
  text-align: center;
  color: black;
  font-size: 25px;
}

.list a {
  color: white;
}

.list li {
  display: inline;
}

.list a:hover {
	color:black;
}

footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
	text-align:center;
}
